gymxperience {
    display: block;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #333333;
}

clase {
    display: block;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #000000;
    border: 2px solid #6e31b0;
    color: white;
}

actividad {
    display: block;
    color: #6e31b0;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}

monitor, hora, sala {
    display: block;
    margin-top: 5px;
}
